//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 05 18:10:15 2018
//! **************************************************************************

SCHEMATIC START;
COMP "SPI_SCK" LOCATE = SITE "P43" LEVEL 1;
COMP "CLK" LOCATE = SITE "P56" LEVEL 1;
COMP "LED" LOCATE = SITE "P134" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "P45" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "P44" LEVEL 1;
COMP "BCLK" LOCATE = SITE "P133" LEVEL 1;
COMP "CCLK" LOCATE = SITE "P70" LEVEL 1;
COMP "LED2" LOCATE = SITE "P132" LEVEL 1;
COMP "LED3" LOCATE = SITE "P124" LEVEL 1;
COMP "LRCK" LOCATE = SITE "P131" LEVEL 1;
COMP "SDTI" LOCATE = SITE "P123" LEVEL 1;
COMP "SDTO" LOCATE = SITE "P126" LEVEL 1;
COMP "PEDAL" LOCATE = SITE "P119" LEVEL 1;
COMP "RESET" LOCATE = SITE "P38" LEVEL 1;
COMP "LAST_EFFECT" LOCATE = SITE "P117" LEVEL 1;
COMP "SPI_CHANNEL<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "SPI_CHANNEL<1>" LOCATE = SITE "P61" LEVEL 1;
COMP "SPI_CHANNEL<2>" LOCATE = SITE "P62" LEVEL 1;
COMP "SPI_CHANNEL<3>" LOCATE = SITE "P65" LEVEL 1;
COMP "AVR_RX_BUSY" LOCATE = SITE "P39" LEVEL 1;
COMP "AVR_RX" LOCATE = SITE "P59" LEVEL 1;
COMP "AVR_TX" LOCATE = SITE "P55" LEVEL 1;
COMP "SPI_SS" LOCATE = SITE "P48" LEVEL 1;
COMP "NEXT_EFFECT" LOCATE = SITE "P115" LEVEL 1;
SCHEMATIC END;

