//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 11 18:27:09 2017
//! **************************************************************************

SCHEMATIC START;
COMP "LED" LOCATE = SITE "P134" LEVEL 1;
COMP "BCLK" LOCATE = SITE "P21" LEVEL 1;
COMP "LRCK" LOCATE = SITE "P17" LEVEL 1;
COMP "SDTI" LOCATE = SITE "P51" LEVEL 1;
COMP "SDTO" LOCATE = SITE "P41" LEVEL 1;
COMP "CLK" LOCATE = SITE "P56" LEVEL 1;
COMP "RESET" LOCATE = SITE "P38" LEVEL 1;
SCHEMATIC END;

