#NET CLK TNM_NET = "CLK";
#TIMESPEC TS_clk = PERIOD "CLK" 50 MHz HIGH 50%;

NET CLK LOC="p56";# | IOSTANDARD=LVCMOS33 | SLEW = "FAST";

#NET "CCLK" LOC=p70;
# I2S PINS
#USB VEST LE HAUT
NET SDTI LOC ="p51" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; # HEADER DROIT, 3e PIN DROIT 
NET SDTO LOC ="p41" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; # HEADER DROIT, 4e PIN DROIT 
NET BCLK LOC ="p21" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; # HEADER DROIT, 10e PIN DROIT
NET LRCK LOC ="p17" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; # HEADER DROIT, 11e PIN GAUCHE

NET led LOC = "p134" | IOSTANDARD=LVCMOS33;
# OTHERS
NET RESET LOC = "p38" | IOSTANDARD=LVCMOS33; 
#CCLK -> ATMEGA = 
