#NET CLK TNM_NET = "CLK";
#TIMESPEC TS_clk = PERIOD "CLK" 50 MHz HIGH 50%;

#NET CLK LOC="p56";# | IOSTANDARD=LVCMOS33 | SLEW = "FAST";

#NET "CCLK" LOC=p70;

# I2S PINS
NET SDTI LOC ="p123" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; # L37N_0
NET SDTO LOC ="p126" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; # L36N_0
NET LRCK LOC ="p131" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; # L35N_0
NET BCLK LOC ="p133" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; # L34N_0


# OTHERS
NET RESET LOC = "p38" | IOSTANDARD=LVCMOS33; 
