#NET CLK TNM_NET = "CLK";
#TIMESPEC TS_clk = PERIOD "CLK" 50 MHz HIGH 50%;

NET CLK LOC="p56";# | IOSTANDARD=LVCMOS33 | SLEW = "FAST";

#AVR interface
NET CCLK LOC="p70";
NET SPI_MOSI LOC = "p44";
NET SPI_MISO LOC = "p45";
NET SPI_SS LOC = "p48";
NET SPI_SCK LOC = "P43";
NET SPI_CHANNEL<0> LOC = "p46";
NET SPI_CHANNEL<1> LOC = "p61";
NET SPI_CHANNEL<2> LOC = "p62";
NET SPI_CHANNEL<3> LOC = "p65";
NET AVR_TX LOC = "p55";
NET AVR_RX LOC = "p59";
NET AVR_RX_BUSY LOC = "p39";

# I2S PINS
NET SDTI LOC ="p123" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; # L37N_0
NET SDTO LOC ="p126" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; # L36N_0
NET LRCK LOC ="p131" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; # L35N_0
NET BCLK LOC ="p133" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; # L34N_0

# guitar chain
NET LOCK LOC ="";
NET LAST_EFFECT LOC = "";
NET NEXT_EFFECT LOC = "";

# OTHERS
NET RESET LOC = "p38" | IOSTANDARD=LVCMOS33; 
