NET CLK LOC="p56";# | IOSTANDARD=LVCMOS33 | SLEW = "FAST";

#AVR interface
NET CCLK LOC="p70" | IOSTANDARD=LVCMOS33;
NET SPI_MOSI LOC = "p44" | IOSTANDARD=LVCMOS33;
NET SPI_MISO LOC = "p45" | IOSTANDARD=LVCMOS33;
NET SPI_SS LOC = "p48" | IOSTANDARD=LVCMOS33;
NET SPI_SCK LOC = "P43" | IOSTANDARD=LVCMOS33;
NET SPI_CHANNEL<0> LOC = "p46" | IOSTANDARD=LVCMOS33;
NET SPI_CHANNEL<1> LOC = "p61" | IOSTANDARD=LVCMOS33;
NET SPI_CHANNEL<2> LOC = "p62" | IOSTANDARD=LVCMOS33;
NET SPI_CHANNEL<3> LOC = "p65" | IOSTANDARD=LVCMOS33;
NET AVR_TX LOC = "p55" | IOSTANDARD=LVCMOS33;
NET AVR_RX LOC = "p59" | IOSTANDARD=LVCMOS33;
NET AVR_RX_BUSY LOC = "p39" | IOSTANDARD=LVCMOS33;

# I2S PINS
NET SDTI LOC ="p85" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; 
NET SDTO LOC ="p88" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; 
NET LRCK LOC ="p93" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; 
NET BCLK LOC ="p95" | IOSTANDARD=LVCMOS33 | SLEW = "FAST"; 

# guitar chain
NET PEDAL LOC ="p138" | IOSTANDARD=LVCMOS33; 		  #L63P_0
NET LAST_EFFECT LOC = "p57" | IOSTANDARD=LVCMOS33;  #L64P_0
NET NEXT_EFFECT LOC = "p41" | IOSTANDARD=LVCMOS33;  #L65P_0

#LCD Signals
NET GLCD_DATA<0> LOC ="p21"| IOSTANDARD=LVCMOS33;
NET GLCD_DATA<1> LOC ="p23"| IOSTANDARD=LVCMOS33;
NET GLCD_DATA<2> LOC ="p26"| IOSTANDARD=LVCMOS33;
NET GLCD_DATA<3> LOC ="p29"| IOSTANDARD=LVCMOS33;
NET GLCD_DATA<4> LOC ="p32"| IOSTANDARD=LVCMOS33;
NET GLCD_DATA<5> LOC ="p34"| IOSTANDARD=LVCMOS33;
NET GLCD_DATA<6> LOC ="p40"| IOSTANDARD=LVCMOS33;
NET GLCD_DATA<7> LOC ="p50"| IOSTANDARD=LVCMOS33;
NET GLCD_E LOC ="p83"| IOSTANDARD=LVCMOS33;
NET GLCD_RW LOC ="p79"| IOSTANDARD=LVCMOS33;
NET GLCD_RS LOC ="p81"| IOSTANDARD=LVCMOS33;
NET GLCD_CS<1> LOC ="p58"| IOSTANDARD=LVCMOS33;
NET GLCD_CS<2> LOC ="p67"| IOSTANDARD=LVCMOS33;
NET GLCD_RST LOC ="p75"| IOSTANDARD=LVCMOS33;



# OTHERS
NET RESET LOC = "p38" | IOSTANDARD=LVCMOS33;
NET LED LOC = "p134" | IOSTANDARD=LVCMOS33;
NET LED2 LOC ="p132" | IOSTANDARD=LVCMOS33;
NET LED3 LOC ="p124" | IOSTANDARD=LVCMOS33;
